@page "/"
@using System.Threading;

<div class="topPart">
    <h3 style="position:relative; font-size:60px;top:30px;color:orangered">
        Hosting an event
    </h3>


</div>

<div class="middlepart">
    <h3 style="position:relative;font-family:Ravie; font-size:40px;top:30px;color:orangered">
        Our Portfolio
    </h3>
    <div class="Events">
        <p>

            <NavLink class="nav-link" href="FoodsOrder">
                <span aria-hidden="true"></span><img src="/Picture/concert.png" width="200" height="200"><br /> Concert
            </NavLink>
        </p>

    </div>
    <div class="Events">
        <p>

            <NavLink class="nav-link" href="FoodsOrder">
                <span aria-hidden="true"></span><img src="/Picture/foodfair.png" width="200" height="200"><br />Food Fair
            </NavLink>

        </p>
    </div>
    <div class="Events">
        <p>

            <NavLink class="nav-link" href="FoodsOrder">
                <span aria-hidden="true"></span><img src="/Picture/tech.png" width="200" height="200"><br />Food Fair
            </NavLink>
        </p>
    </div>
    <div class="Events">
        <p>

            <NavLink class="nav-link" href="FoodsOrder">
                <span aria-hidden="true"></span><img src="/Picture/wedding.png" width="200" height="200"><br />Wedding
            </NavLink>
        </p>
    </div>

</div>





<style>
    .topPart {
        position: relative;
        text-align: center;
        left: -31px;
        width: 105.7%;
        height: 360px;
        background-image: url("/Picture/header.png");
    }

    .middlepart {
        position: relative;
        left: -31px;
        text-align: center;
        top: 20px;
        width: 105.7%;
        height: 400px;
        background-color: #FAACA8;
        background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    }

    .Events {
        position: relative;
        display: inline-block;
        top: 50px;
        vertical-align: middle;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 24px;
        background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    }
</style>





Collapse
index.txt
3 KB

