@page "/"
@using System.Threading;

<div class="header" style="background-color: lightskyblue; height: 350px;">
    <h1 style="color: white; font-size: 70px; text-align: center; padding-top: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Upcoming Events</h1>
    <p style="color: ghostwhite; font-size: 35px; text-align: center; padding-top: 20px; font-family: Ravie">Join us for an unforgettable experience!</p>
</div>

<div class="topPart" style="background-color: #FFFF00; height: 350px;">
    <h1 style="color: white; font-size: 70px; text-align: center; padding-top: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Portfoilo</h1>
    <span style="top:78px; position:relative; left:70px; color: salmon; font-size: 70px; font-family:Ravie">↓↓↓↓↓↓↓↓↓↓↓</span>
</div>

<div class="topPart" style="background-color: #3D33FF; height: 350px;">
    <h1 style="color: white; font-size: 70px; text-align: center; padding-top: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Concert Night</h1>
    <span style="top:78px; position:relative; left:70px; color: salmon; font-size: 20px; font-family:Ravie">Live music event where attendees can enjoy an evening of entertainment and live music performances!</span>
</div>
<div class="topPart" style="background-color: #33FF69; height: 350px; ">
    <h1 style="color: white; font-size: 70px; text-align: center; padding-top: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Food Fair</h1>
    <span style="top:78px; position:relative; left:70px; color: salmon; font-size: 20px; font-family:Ravie"> People can come together to enjoy a variety of food, drinks, and other culinary delights from different cultures and cuisines.</span>
</div>
<div class="topPart" style="background-color: #FF33E9; height: 350px; ">
    <h1 style="color: white; font-size: 70px; text-align: center; padding-top: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Tech Show</h1>
    <span style="top: 78px; position: relative; left: 70px; color: #387633; font-size: 20px; font-family: Ravie"> Showcasing the latest technological advancements and innovations</span>
</div>



@*
    <div class="container">
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-4">
                <div class="card" style="background-color: gainsboro;">
                    <img class="card-img-top" src="/Pictures/concert.jpg" alt="Concert">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family: Ravie; color: orangered;">Concert Night</h5>
                        <p class="card-text" style="font-family: Ravie; color: darkslategray;">Join us for an evening of live music and entertainment!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

*@


