@page "/eventss/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent events="events" Disabled="true" />

@code { [Parameter] public int id { get; set; }
    Event events = new Event();

    protected async override Task OnParametersSetAsync()
    {
        events = await _client.GetFromJsonAsync<Event>($"{Endpoints.EventsEndpoint}/{id}");
    } }
